<!-- {% extends "signin.html" %}
{% block content %}
<h2 class="text-center mb-4">Change Password</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="inputs d-flex flex-column gap-4">
            <input
              type="password"
              placeholder="Password"
              required
              class="rounded-pill border p-2"
              style="outline: 0"
              name="password"
            />
            <input
              type="password"
              placeholder="Confirm Password"
              required
              class="rounded-pill border p-2"
              style="outline: 0"
              name="password2"
            />
            {% if messages %}
            <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}

            <input type="hidden" name="user-id" value="{{user_id}}">
            <input
              type="submit"
              value="Submit"
              class="mx-auto bg-light border-1"
            />
            </div>
        </form>
        <div class="d-flex flex-column justify-content-center align-items-center mt-3">
            <a href="{% url 'signin' %}">Login</a>
        </div>
            
        
{% endblock content%} -->