{% extends "signin.html" %}
{% block content %}
<h2 class="text-center mb-4">Forget Password</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="inputs d-flex flex-column gap-4">
            <input
              type="text"
              placeholder="Email"
              required
              class="rounded-pill border p-2"
              style="outline: 0"
              name="username" 
              required
            />
            <input
              type="submit"
              value="Submit"
              class="mx-auto bg-light border-1"
            />
            {% if messages %}
            <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                <a href="{% url 'signin' %}">Login</a>
            </div>
            
        </form>
{% endblock content%}